name: Build, Test & Upload

on:
  push:
    branches:
      - master
      - dev/**
  pull_request:

jobs:
  building:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 25
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build with Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: build --no-daemon

      - name: Run tests
        run: ./gradlew test --no-daemon

      - name: Upload Nightly Build
        uses: actions/upload-artifact@v2
        if: success()
        with:
          name: skript-nightly
          path: build/libs/**
